@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import 'tailwindcss';

:root {

  /* Colors */
  --background-color: #f2f2f2ff;
  --sedan-card-color: #e28525;
  --suv-card-color: #016972;
  --luxury-card-color: #00403F;

}


body {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  margin: 1.5rem;
}

p {
  font-family: 'Lexend Deca';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

a {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

h3 {
  font-family: 'Big Shoulders';
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

@media (min-width: 640px) {
  .card:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .card:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
}

@media (max-width: 640px) {
  .card:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .card:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
